* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}
.sidebar {
    width: 250px;
    background: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background: #444;
    border-radius: 5px;
    text-align: center;
}
.sidebar a:hover {
    background: #555;
}
.content {
    flex: 1;
    padding: 20px;
    background: #f4f4f4;
}
.mesa {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background: rgb(17, 185, 11);
    cursor: pointer;
    display: inline-block;
}
.mesa.ocupada {
    background: red;
    color: white;
}