@charset "UTF-8";


*{  box-sizing: border-box;
    margin: 0;
    padding: 0; 
 }
 

 header{
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.851);
    color: azure;

  
 }

 header {
    display: flex;;
    align-items: center;
    justify-content: space-between;
 }
 header p{
    margin-right: 20px;
 }
 header a{
    margin-left: 20px;
text-decoration: none;
color: azure;
 }

 #menu {
position: relative;
width: 15vw;
height: 90vh;
background-color: rgb(255, 166, 0);

 }

 #menu article ul{
    height: 85vh;
    
 }

 #menu article ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-flow: wrap;
    align-items: unset;
}
 
#menu a,#menu a li {

text-decoration: none;
width: 100%;
display: flex;
align-items: center;
cursor: pointer;
transition: 550ms;
}

a:hover{
    background-color: rgb(0, 0, 0);
   
    
}

li{
    font-size: larger;
    color: rgb(0, 2, 2);
    margin-left: 20px;
height: 90px;

}

li:hover{
    color: rgb(255, 255, 255);
}
#menu p {
    padding: 3px 17vw;
    font-size:small;
    color: rgb(0, 0, 0);
    cursor: pointer;
}