<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <%- include('partions/head.ejs') %>
</head>
<body>

    <%- include('partions/menu.ejs') %>

    <h1>bem vindo ao menu rodutos</h1>
 
    <%- include('partions/main.ejs') %>    
    
</body>
</html>