<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylos/painel_admin.css">
</head>
<body>
    <header id="cabecalho">
        <a href=""> TESTE</a>
        <p>PERFIL</p>
    </header>

    <section id="menu">
        <article>
           <ul>
            <a href=""><li>PRODUTOS</li></a>
            <a href=""><li>PEDIDOS</li></a>
            <a href=""><li>CLIENTES</li></a>
            <a href=""><li>RELATORIOS</li></a>
            <a href=""><li>CONFIGURAÇOES</li></a>
            <a href=""><li>PEDIDO DE MESA</li></a>
           </ul>
        </article>   

        <p>sair</p>
    </section>
    
</body>
</html>