<section id="menu">
    <article>
      <nav> 
    <ul>
        <a href="/"><li>PRODUTOS</li></a>
        <a href=""><li>PEDIDOS</li></a>
        <a href="/claint"><li>CLIENTES</li></a>
        <a href=""><li>RELATORIOS</li></a>
        <a href=""><li>CONFIGURAÇOES</li></a>
        <a href=""><li>PEDIDO DE MESA</li></a>
       </ul>
    </nav>

    </article>   
    <p>sair</p>
    </section>