
<div class="sidebar">
    <a href="/" >Produtos</a>
    <a href="/claint">Clientes</a>
    <a href="/pedidos" >Pedidos</a>
    <a href="/relatorio" >Relatórios</a>
    <a href="/mesa" >Pedidos de Mesa</a>
    <a href="/historicoPedidos" >Histórico de Pedidos</a>
    <a href="/config" >Configurações</a>
</div>
